body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 0;
}

#header {
    height:110px;
    color: #F5F5F5;
    background-image: linear-gradient(to right, #EF4339 , #CA293E);
    padding: 0 40px;
}

#header_left {
    float:left;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid lightgray;
  background-color: #f1f1f1;
  float:left;
  width:100%;
  margin-top:10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: 'Arvo', serif;
  font-weight: 700;
  color:#444;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size:14px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 2px solid lightgray;
  border-top: none;
  float:left;
  width:100%;
}

#loader {
  display:none;
}

#options_bar {
  z-index:3;
  position: absolute;
  top: 135px;
  margin-left:15px;
  display:none;
}

.button_tab {
  font-size:16px;
  margin-right:10px;
  font-family: 'Arvo', serif;
  background: rgba(199, 199, 199, 0.6);
  padding: 5px 9px;
  /*-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;*/
  color: #333;
  font-weight: 700;
  vertical-align: middle;  
}

#title {
    font-size:32px;
    font-weight: bold;
    padding-top:20px;
    text-shadow: #000333 0 1px 0;
}

#desc {
    font-size:20px;
    color:#D9D9D9;
    font-style: italic;
    text-shadow: #000333 0 1px 0;
}

#wrapper {
    width:100%;
}

#leftside {
  width:650px;
  float:left;
  font-size:20px;
}

#editor {
  width:650px;
  float:left;
}

#visualizer {
  display:none;
}

#printer {
  margin-left:650px;
    margin-right:15px;
    z-index:2;
}

#header_right {
    padding-top:30px;
    float:right;
}

#header_right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header_right li {
    float: left;
    background-color: rgba(0,0,0,0.1);
    margin-left:20px;
}

#header_right li:hover {
    background-color: rgba(255,255,255,0.1);
}

#header_right a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    color:#fff;
    text-shadow: #444 0 1px 0;
}

/*#labels {
    margin-top:-50px;
    margin-left:10px;
}*/

#code {
    border: 2px lightgray solid;
    margin: 10px 10px 8px 10px;
}

.my_button {
    float:left;
    margin:8px 0px 8px 10px;
    font-size:22px;
    font-family: 'Arvo', serif;
    border: 2px solid #EDEDED;
    background: rgb(43, 172, 127);
    padding: 6px 11px;
    /*-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    color: #F5F5F5;
    vertical-align: middle;
}

.my_button:hover {
    background: rgb(21, 192, 135);
    text-decoration: none;
}

.my_button:active {
    background: rgb(20, 136, 97);
}

.my_button_text {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.my_button_icon {
  font-family:dripicons-v2;
  font-size:0.8em;
  margin-right:5px;
  text-transform: none;
}

#text_before_direction_vector {
    display: inline-block;
    margin-left:50px;
    margin-right:10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#direction_vector {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

#labels {
  margin-left: 20px;
  margin-right: 20px;
}

#labels_itspc {
  margin-bottom:6px;
}

#labels_dpgph {
  margin-bottom:3px;
}

#IterationSpace {
  height:764px;
}

#DependencyGraph {
  height:764px;
}

#GCDTest {
  height:764px;
}

#primary_nav_wrap
{
  float:left;
  width:160px;
  margin-left:10px;
  margin-top:8px;
}

#primary_nav_wrap ul
{
  list-style:none;
	margin:0;
  padding:0;
  border: solid 2px #EDEDED;
}

#primary_nav_wrap ul a
{
  text-decoration: none;
	font-weight:700;
  font-size:18px;
  color:#F5F5F5;
	padding:10px 15px;
}

#primary_nav_wrap ul li
{
  position:relative;
  background-color:rgb(43, 172, 127);
  padding:7px;
	/*float:left;*/
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd;
}

#primary_nav_wrap ul li:hover
{
  background:rgb(21, 192, 135);
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:250px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;
}

#console {
  background: #333;
  color: #c7c7c7;
  list-style-type: none;
  margin-left:10px;
  margin-right:10px;
  padding:5px;
  font-size:16px;
  width:630px;
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d2d2; 
}

.under_code {
  width:630px;
  float:left;
  margin:0px 10px 8px 10px;
  background: rgb(223, 221, 221);
}

.under_code_vis {
  width:630px;
  float:left;
  margin:-2px 10px 8px 10px;
  background: rgb(223, 221, 221);
}

#root {
  font-size:20px;
  line-height: 34px;
  letter-spacing: -1px;
  font-family: monospace;
  border: solid 2px lightgray;
  width:630px;
  background:#eee;
  margin: 10px;
  padding: 15px 15px;
  height:537px;
}

.vwrite {
  background: rgba(50, 50, 136, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:3px 11px;
  margin: 0 5px;
  color:#fff;
  font-weight: 700;
  text-shadow: #000333 0 1px 0;
}

.vread {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:3px 11px;
  margin: 0 5px;
  background: rgba(180, 37, 37, 0.65);
  color:#fff;
  font-weight: 700;
  text-shadow: #000333 0 1px 0;
}

.stmt {
  font-weight:700;
  text-shadow: #000333 0 1px 0;
  color:#fff;
  background:rgb(167, 165, 165);
  padding:3px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  float:left;
  width: 60px;
  height: 34px;
  margin-right:10px;
  margin-left:10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(43, 172, 127);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(43, 172, 127);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggle_thing {
  float:left;
  margin-top:12px;
  margin-left:10px;
}

.toggle_text {
  float:left;
  margin-left:5px;
  font-weight:700;
  text-transform: uppercase;
  color:#444;
  font-size:16px;
  letter-spacing: -1px;
  margin-top:8px;
}

.on_demand {
  float:right;
  width:50px;
  font-size:10px;
  font-weight: 700;
  line-height:8px;
  margin-top:5px;
}

.other2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size:13px;
  font-family: 'Courier New', Courier, monospace;
}

.subscript {
  display: inline-block;
  margin: 0 10px 0px 5px;
  font-weight:700;
}

.subscript_nr {
  font-size:14px;
  color:grey;
  display: block;
  text-align: center;
}

.actual_subscript {
  display: block;
  font-size:20px;
  letter-spacing: 3px;
}

.st_text {
  font-size:20px;
  color:#222;
  margin-bottom:10px;
  font-weight:700;
}

.nongraph {
  padding: 15px;
  height:762px;
}

.st_button {
  font-size:20px;
  font-family: 'Arvo', serif;
  border: 2px solid #EDEDED;
  background: rgb(43, 172, 127);
  padding: 6px 11px;
  margin-top:10px;
  color: #F5F5F5;
  font-weight:700;
  vertical-align: middle;
}

.partition {
  display: inline-block;
  margin: 0 10px 0px 10px;
  font-weight:700;
}

.st_button:hover {
  background: rgb(21, 192, 135);
  text-decoration: none;
}

.st_button:active {
  background: rgb(20, 136, 97);
}

.classification {
  font-size:16px;
  text-transform: uppercase;
  text-align:center;
}

.st_step {
  margin-bottom:20px;
}

.arr {
  font-size:18px;
  margin: 5px 10px 5px 5px;
  font-weight:700;
  letter-spacing: 3px;
}

#tooltip_vis {
  display:none;
}

.question {
  font-family:dripicons-v2;
  position: absolute;
  color:rgb(81, 156, 202);
  font-size:24px;
  top:133px;
  left:600px;
  z-index: 100;
}


[include*="form-input-select()"] {
    display: block;
    padding: 0;
    position: relative;
    /* Set options to normal weight */
    /* ------------------------------------  */
    /* START OF UGLY BROWSER-SPECIFIC HACKS */
    /* ----------------------------------  */
    /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
       The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
       You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
    /* Show only the native arrow */
    color: #005ba6;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 235px;
  }
  [include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  [include*="form-input-select()"] select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    background: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid transparent;
    font-size: 16px;
    outline: none;
    /* Focus style */
  }
  [include*="form-input-select()"] select:focus {
    background-color: transparent;
    outline: none;
  }
  [include*="form-input-select()"] option {
    font-weight: 700;
  }
  [include*="form-input-select()"] x:-o-prefocus, [include*="form-input-select()"]::after {
    display: none;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    [include*="form-input-select()"] select::-ms-expand {
      display: none;
    }
    [include*="form-input-select()"] select:focus::-ms-value {
      background: transparent;
      color: #000;
    }
  }
  @-moz-document url-prefix() {
    [include*="form-input-select()"] {
      overflow: hidden;
    }
    [include*="form-input-select()"] select {
      width: 120%;
      width: calc(100% + 3em);
      /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
    }
    @supports (-moz-appearance: none) {
      [include*="form-input-select()"] select {
        width: 100%;
      }
    }
    [include*="form-input-select()"] select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
  @supports (-moz-appearance: none) {
    [include*="form-input-select()"] {
      width: 100%;
    }
  }
  [include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
  }
  [include*="form-input-select()"]::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: #d6d6d6;
  }
  [include*="form-input-select()"]::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #d6d6d6;
    top: 55%;
  }
  @-moz-document url-prefix() {
    [include*="form-input-select()"] {
      border-right: 3px solid #e6e6e6;
    }
    [include*="form-input-select()"]:hover {
      border-right: 3px solid #005ba6;
    }
  }
  [include*="form-input-select()"]:hover select {
    box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
    border-color: #005ba6;
  }
  [include*="form-input-select()"]:hover select:focus {
    outline-color: transparent;
  }
  [include*="form-input-select()"]:hover::before {
    border-bottom-color: #005ba6;
  }
  [include*="form-input-select()"]:hover::after {
    border-top-color: #005ba6;
  }
  [include*="form-input-select()"] select {
    border: 3px solid #e6e6e6;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Arvo', serif;
    color: inherit;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease, outline 0.2s ease;
  }
  [include*="form-input-select()"] select:focus {
    box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
    outline: 3px solid #005ba6;
    outline-offset: -3px;
  }
  [include*="form-input-select()"] select[disabled], [include*="form-input-select()"] select:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  [include*="form-input-select()"] select:invalid {
    color: #c7c7c7;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  