body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 0;
}

#header {
    height:110px;
    color: #F5F5F5;
    /*background-color: #444;*/
    padding: 0 40px;
}

#header_left {
    float:left;
}

#title {
    font-size:32px;
    font-weight: bold;
    padding-top:20px;
    text-shadow: #000333 0 1px 0;
}

#desc {
    font-size:20px;
    color:#D9D9D9;
    font-style: italic;
    text-shadow: #000333 0 1px 0;
}

#wrapper {
    width:100%;
}

#editor {
    font-size:20px;
    float:left;
    width:650px;
}

#printer {
    margin-left:650px;
    margin-right:15px;
}

#header_right {
    padding-top:30px;
    float:right;
}

#header_right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header_right li {
    float: left;
    background-color: rgba(0,0,0,0.1);
    margin-left:20px;
}

#header_right li:hover {
    background-color: rgba(255,255,255,0.1);
}

#header_right a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    color:#fff;
    text-shadow: #444 0 1px 0;
}

/*#labels {
    margin-top:-50px;
    margin-left:10px;
}*/

#code {
    border: 2px lightgray solid;
    margin: 10px;
}

#run_button {
    margin: 10px 10px 10px 10px;
    font-size:1.4em;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: #000333 0 1px 0;
    text-decoration: underline;
    border: 2px solid #EDEDED;
    background: #00C27D;
    padding: 6px 11px;
    /*-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    color: #F5F5F5;
    vertical-align: middle;
}

#run_button:hover {
    background: #00D18D;
    text-decoration: none;
}

#run_button:active {
    background: #00B076;
}

#text_before_direction_vector {
    display: inline-block;
    margin-left:50px;
    margin-right:10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#direction_vector {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

#labels_itspc {
  display:none;
}

#labels_dpgph {
  display:none;
}

#primary_nav_wrap
{
  display:inline-block;
  margin-left:10px;
}

#primary_nav_wrap ul
{
	list-style:none;
	margin:0;
  padding:0;
}

#primary_nav_wrap ul a
{
	text-decoration:none;
	font-weight:700;
  font-size:15px;
  color:#666;
	padding:10px 15px;
}

#primary_nav_wrap ul li
{
  position:relative;
  background-color:#f6f6f6;
  padding:5px;
	/*float:left;*/
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:rgb(128, 194, 170);
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;
}

#console {
  background: #333;
  color: #c7c7c7;
  list-style-type: none;
  margin-left:10px;
  margin-right:10px;
  padding:5px;
  font-size:16px;
  font-family: monospace;
}

[include*="form-input-select()"] {
    display: block;
    padding: 0;
    position: relative;
    /* Set options to normal weight */
    /* ------------------------------------  */
    /* START OF UGLY BROWSER-SPECIFIC HACKS */
    /* ----------------------------------  */
    /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
       The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
       You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
    /* Show only the native arrow */
    color: #005ba6;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 235px;
  }
  [include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  [include*="form-input-select()"] select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    background: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid transparent;
    font-size: 16px;
    outline: none;
    /* Focus style */
  }
  [include*="form-input-select()"] select:focus {
    background-color: transparent;
    outline: none;
  }
  [include*="form-input-select()"] option {
    font-weight: 700;
  }
  [include*="form-input-select()"] x:-o-prefocus, [include*="form-input-select()"]::after {
    display: none;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    [include*="form-input-select()"] select::-ms-expand {
      display: none;
    }
    [include*="form-input-select()"] select:focus::-ms-value {
      background: transparent;
      color: #000;
    }
  }
  @-moz-document url-prefix() {
    [include*="form-input-select()"] {
      overflow: hidden;
    }
    [include*="form-input-select()"] select {
      width: 120%;
      width: calc(100% + 3em);
      /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
    }
    @supports (-moz-appearance: none) {
      [include*="form-input-select()"] select {
        width: 100%;
      }
    }
    [include*="form-input-select()"] select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
  @supports (-moz-appearance: none) {
    [include*="form-input-select()"] {
      width: 100%;
    }
  }
  [include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
  }
  [include*="form-input-select()"]::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: #d6d6d6;
  }
  [include*="form-input-select()"]::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #d6d6d6;
    top: 55%;
  }
  @-moz-document url-prefix() {
    [include*="form-input-select()"] {
      border-right: 3px solid #e6e6e6;
    }
    [include*="form-input-select()"]:hover {
      border-right: 3px solid #005ba6;
    }
  }
  [include*="form-input-select()"]:hover select {
    box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
    border-color: #005ba6;
  }
  [include*="form-input-select()"]:hover select:focus {
    outline-color: transparent;
  }
  [include*="form-input-select()"]:hover::before {
    border-bottom-color: #005ba6;
  }
  [include*="form-input-select()"]:hover::after {
    border-top-color: #005ba6;
  }
  [include*="form-input-select()"] select {
    border: 3px solid #e6e6e6;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Arvo', serif;
    color: inherit;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease, outline 0.2s ease;
  }
  [include*="form-input-select()"] select:focus {
    box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
    outline: 3px solid #005ba6;
    outline-offset: -3px;
  }
  [include*="form-input-select()"] select[disabled], [include*="form-input-select()"] select:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  [include*="form-input-select()"] select:invalid {
    color: #c7c7c7;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  